* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.inicio:hover{
    background-image: url(./images/matrix-code-animation-gif-free-animated-background.gif);
}
.title-project{
    font-size: 14px;
    font-weight: bold;
}
body {
    background-color: #111111;
    color: #28cc00;
    font-family: 'Press Start 2P', cursive, sans-serif;
}
.inicio {
    text-align: center;
    line-height: 50px;
    font-size: 40px;
    color:#00FF33;
    margin-bottom:5px ;
    padding: 20px;

}

.images {
    width: 150px;
    margin-right: 2%;
    display: inline-block;
    border-radius: 5%;
    border: #00ff33;
    border-style: groove;

}
.description-text h2{
    color:#00FF33;
}
.description-text {
    display: inline-block;
    height: 160px;
    width: 80%;
}
.skills{
    display: inline-block;
    margin-left: 5%;
    line-height: 20px;
    width: 44%;
    font-size: 20px;
    vertical-align: top;
    margin-bottom: 20px;
    overflow: hidden;
}
.index{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00FF33;
    width: 100%;
  }
  
  li a{
    float: left;
  }
  
  li a {
    display: block;
    color: #111111;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111111;
    color: #00FF33;
  }
.item{
    font-size: 14px;
}
.footer{
    padding: 30px;
    height: 20px;
}
.footer:hover{
    background-image: url(./images/aliens-moving.gif);
}
.hero-list{
    width: 100%;
    height: auto;
    margin-top: 2%;
}
.projects, .contato {
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content: center;
}
.contato-item {
    display: inline-block;
    margin-bottom: 3%;
}
.imgdescription{
    margin-left: 5%;
}
.project-items {
    color: #28cc00;
    margin: 3%;
    padding: 3px;
    font-size: 12px;
    display: inline-block;
    text-align: center;
    width: 210px;
}
.project-items:hover {
    color: #111111;
    background-color: #28cc00;

}
#project, #contact {
    margin-left: 5%;
}

#cat {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

#cat1{
    height: 100px;
    width: 100px;
    background-color:#111111;
}

#cat2{
    height: 73px;
    width: 139px;
    background-color:#111111;
}

#cat3{
    height: 73px;
    width: 115px;
    background-color:#111111;
}

#cat1:hover {
    background-image: url(./images/cat1.gif);
}

#cat2:hover {
    background-image: url(./images/cat2.gif);
}

#cat3:hover {
    background-image: url(./images/cat3.gif);
}
::-webkit-scrollbar-track {
    background-color: #111111;
}
::-webkit-scrollbar {
    width: 6px;
    background: #111111;
}
::-webkit-scrollbar-thumb {
    background: gray;
}